@import '~@/base.less';

.normal {
  font-family: poppin,Tahoma,Arial, sans-serif;
  color: @normalTextColor;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: @headerHeight;
    z-index: 200;
    .logo {
      width: calc(@headerHeight * 0.9);
      height: calc(@headerHeight * 0.9);
      margin-left: 20px;
    }
  }
}

.mask {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.playerBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .6;
  filter: blur(60px);
}
