@import '~@/base.less';

.actionBtnBase {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    margin: 0 .3rem;
    border: 1px solid rgba(225,225,225,.3);
    border-radius: 2px;
    text-align: center;
    line-height: 1.8em;
    > :global(.iconfont) {
        display: inline-block;
        margin: 0 .3rem;
    }
    > * {
        white-space: nowrap;
    }
    &:hover {
        cursor: pointer;
        color: white;
        border-color: white;
    }
}

.musicList {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    .tip {
        margin-bottom: 1rem;
    }
    .actionsBox {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        &.normal {
            > * {
                .actionBtnBase();
                flex-basis: 0;
                flex-grow: 1;
            }
        }
        &.mobile {
            text-align: center;
            justify-content: space-around;
            > * {
                > * {
                    display: block;
                    line-height: 1.4em;
                    color: white;
                }
            }
        }
    }
    .selectActionsBox {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: .5rem;
        > * {
            .actionBtnBase();
            flex-basis: 0;
            flex-grow: 1;
        }
    }
    .tableContainer {
        flex-grow: 1;
        height: 0;
    }
}

.focusMusicRow {
    color: white !important;
}


.popoverActions {
    padding: .5rem;
    .item {
        cursor: pointer;
        text-align: center;
        color: black;
        & + .item {
            margin-top: .5rem;
        }
        > * {
            margin: 0 .3rem;
            white-space: nowrap;
        }
    }
}

.musicNameCell {
    display: flex;
    align-items: center;
    @iconMargin: .7rem;
    > .name {
        display: inline-block;
        flex-basis: 0;
        flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    > * {
        & + * {
            margin-left: @iconMargin;
        }
    }
    :global(.icon-block) {
        color: red !important;
        font-size: .9rem !important;
        line-height: 1;
    }
}
