<!doctype html>
<html>
<head>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title></title>
  <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1512906_rlaft70ippd.css">
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/nprogress@0.1.6/nprogress.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css">
  <script>
    window.handleClientSettings = function (res) {
      if (res.code === 0) {
        window.clientSettings = res.data
      }
    }
  </script>
  <script type="text/javascript" src="/client/settings?callback=handleClientSettings"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>