@import '~@/base.less';

.basic {
    height: 100%;
    width: 100%;
    .socketStatusPage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .closedIcon {
            font-size: 6rem !important;
            text-align: center;
            cursor: pointer;
        }
        .loadingIcon {
            font-size: 3rem !important;
        }
    }

}

.setNameBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 80vw;
    max-width: 600px;
    text-align: center;
    .nextIcon {
        margin-top: 2rem;
        font-size: 4rem !important;
        cursor: pointer;
        display: inline-block;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.loadingIcon {
    margin: 0 .5rem;
    display: inline-block;
    font-size: 1.6rem !important;
    animation: loadingAnimation 2s linear infinite;
}

.pagePcContentBase {
    width: 90%;
    margin: 0 auto;
    min-width: @minContentWidth;
    max-width: @maxContentWidth;
}

.radioPageOuter {
    height: 100%;
    .radioPage {
        height: 100%;
        .leftBase {
            display: flex;
            flex-direction: column;
            > * {
                min-height: 0;
                flex-shrink: 0;
            }
            > .danmuOuter {
                overflow: hidden; 
                flex-shrink: 1; 
            }
        }
        &.normal {
            display: flex;
            align-items: flex-start;
            height: 100%;
            .pagePcContentBase();
            margin: 0 auto;
            > * {
                + * {
                    margin-left: 3rem;
                }
            }
            > .left {
                width: 66%;
                height: 100%;
                overflow: hidden;
                .leftBase();
                
            }      
            > .right {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .chatListTabContent {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    > * {
                        width: 100%;
                        box-sizing: border-box;
                    }
                    > .chatList {
                        min-height: 0;
                        flex-grow: 1;
                    }
                }
                .hideTabContant {
                    display: none;
                }
                .tabContentBoxOuter {
                    width: 100%;
                    overflow: hidden;
                    min-height: 0;
                    flex-grow: 1;
                    .tabContentBox {
                        width: 200%;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        > *{
                            flex-basis: 0;
                            flex-grow: 1;
                            box-sizing: border-box;
                        }
                        &.moveLeft {
                            transform: translateX(-50%);
                        }
                        .chatTabContent {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            position: relative;
                            > * {
                                width: 100%;
                                box-sizing: border-box;
                                min-height: 0;
                            }
                        } 
                    }
                }
                
            } 
           
        }
        &.mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > .top {
                min-height: 0;
                flex-grow: 1;
                justify-content: space-between;
                .leftBase();
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .playerOuter {
                    flex-grow: 1;
                    > * {
                        height: 100%;
                    }
                }
            }   
            > .bottom {
                flex-shrink: 0;
                min-height: 0;
            }
        }
    }
}


.sendMessageBox {
    flex-shrink: 0;
    &.mobile {
        background-color: #4B4B4B;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 .5rem;
        .iconfont {
            cursor: pointer;
            font-size: 1.1rem !important;
            padding: 0 .3rem;
        }
        &.focus {
            background-color: #4B4B4B;
        }
    }
    .actionsBox {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 .4rem;
        > * {
            cursor: pointer;
            margin-right: 1rem;
            padding: .5rem 0;
            :global(.iconfont) {
                margin-right: .5rem;
            }
        }
        &.mobile {
            flex-wrap: nowrap;
            justify-content: space-around;
            :global(.iconfont) {
                font-size: 1.4rem !important;
                line-height: 1.6em;
            }
            > * {
                padding: 0 .5rem;
            }
        }
        .disabled {
            pointer-events: none;
            color: rgba(225, 225, 225, 0.5);
        }
    }
    .mask {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
        top: 0;
        left: 0;
        > * {
            background-color: #4B4B4B;
            filter: brightness(115%);
            max-height: 100%;
        }
    }
    .drawer {
        position: absolute;
        z-index: 51;
        bottom: 0;
        left: 0;
        width: 100%;
        .back {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: .5rem;
            font-size: 1.1em;
            color: @themeColor;
            > .text {
                padding-left: .7rem;
            }
        }
        .content {
            height: 450px;
            > * {
                height: 100%;
            }
        }
    }
    .drawerStartAnimation {
        animation-fill-mode: backwards;
        animation: drawerStartAnimation 0.4s ease-out;
    }
    .drawerEndAnimation {
        animation-fill-mode: forwards;
        transform: translateY(100%);
        animation: drawerEndAnimation 0.4s ease-out;
    }
    .chatListWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div:first-child {
            min-height: 0;
            flex-grow: 1;
        }
    }
    .infoListBox {
        li {
            margin-top: 1rem;
        }
    }
}

@keyframes drawerStartAnimation {
    from {
        transform:  translateY(100%);
    } to {
        transform: translateY(0);
    }
}

@keyframes drawerEndAnimation {
    from {
        transform: translateY(0);
    } to {
        transform:  translateY(100%);
    }
}

@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.roomList {
    height: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    &.normal {
        .pagePcContentBase();
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &.noData {
            color: @highLightColor;
            min-height: 0;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    >.bottom {
        padding: 1rem;
        text-align: center;
    }
    .floatButton {
        position: fixed;
        right: 10vw;
        bottom: 10vh;
    }
}