@import '~@/base.less';


.mask {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.playerBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    width: 100%;
    height: 100%;
    background-image: url("https://y.gtimg.cn/music/photo_new/T002R300x300M0000024uN121wrWdZ_1.jpg?max_age=2592000");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .6;
    filter: blur(60px);
}

.playerBox {
    display: flex;
    color: @normalTextColor;
    > * {
        flex-shrink: 0;
    }
    >.left {

    } 
    >.main {
        flex-grow: 1;
        flex-basis: 0;
        margin-left: 2rem;
        .controlBox {
            display: flex;
            align-items: center;
            padding: 1rem;
            > .left {
                flex-grow: 1;
                margin-right: 3rem;
            }
            > .right {
                flex-shrink: 0;
                :global(.iconfont) {
                    font-size: 18px;
                }
                > * {
                    + * {
                        margin-right: .4rem;
                    }
                }
            }
        }
    }
}

.commentBox {
    height: 240px;
    margin: 0 0 1rem;
    .noData {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .showData {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > * {
            width: 100%;
        }
        .top {
            text-align: left;
            :global(.icon-quoteleft) {
                font-size: 28px !important;
                color: rgba(155, 155, 155, 1) !important;
            }
        }
        .content {
            color: white;
            font-weight: bold;
            text-align: left;
            margin: 0;
            min-height: 0;
            overflow: hidden;
        }
        .bottom {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: .5rem;
            > img {
                @size: 24px;
                width: @size;
                height: @size;
                border-radius: 50%;
                margin-right: .8rem;
            }
            .nickName {
                cursor: pointer;
            }
        }
    }
   
}

.musicBaseInfo {
    width: 100%;
    display: flex;
    align-items: center;
    .content {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .signalIcon {
        display: flex;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: .5rem;
        &.paused {
            > * {
                animation-play-state: paused;
            }
        }
        > *{
            animation: updown 2s ease-in-out infinite;
            width: 2px;
            height: 0.8em;
            background-color: @themeColor;
            border-radius: 25%;
            margin: 0 1px; 
        }
    }
    @keyframes updown {
        0% {
            transform: translateY(0);
        } 
        50%{
            transform: translateY(90%);
        }
        100% {
            transform: translateY(0%);
        }
    }
}

.progressOuter {
    padding: 3px 0;
    cursor: pointer;
    user-select: none;
    margin: .5rem 0;
    &:hover {
        .progress {
            .curcor {
                transform: scale(1);
            }
        }   
    }
    > .progress {
        position: relative;
        .base {
            height: 100%;
            width: 100%;
            background-color: rgb(155, 155, 155);
        }
        .past {
            .base();
            position: absolute;
            top: 0;
            left: 0;
            background-color: @themeColor;
        }
        .curcor {
            background-color: @themeColor;
            border-radius: 50%;
            position: absolute;
            top: 0;
            // transition: all 0.3s;
            transform: scale(0);
        }
    }
}

.picBox {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    animation: picRotate 10s  linear infinite;
    animation-play-state: paused;
    background-color: white;
    margin: 1rem 0 2rem 0;
    &.rotate {
        animation-play-state: running;
    }
    .noPic {
        color: @highLightColor;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@keyframes picRotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.volumeBox {
    display: flex;
    align-items: center;
    :global(.ant-slider) {
        width: 30% !important;
        max-width: 70px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        > * {
            height: 2px !important;
        }
        :global(.ant-slider-handle) {
            display: none !important;
        }
        
        :global(.ant-slider-rail) {
            background-color: rgb(155, 155, 155);
        }
        :global(.ant-slider-track) {
            background-color: white;
        }
    }
    .slider {
        display: none;
        width: 70px;
        
    }
    &:hover {
        .slider {
            display: block;
        }
    }
    .actionIcon {
        cursor: pointer;
    }
}


.lyricBox {
    overflow: hidden;
    position: relative;
    @itemHeight: 2em;
    height: @itemHeight * 4;
    // &::before {
    //     content: "";
    //     display: block;
    //     height: @itemHeight / 3;
    //     width: 100%;
    //     background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.8));
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
    &::after {
        content: "";
        display: block;
        height: @itemHeight * 0.2;
        width: 100%;
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, .8));

        // background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%, .7));
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .noLrc {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .itemsBox {
        transition: all 0.4s;
        .item {
            height: @itemHeight;
            box-sizing: border-box;
            &.focus {
                color: @highLightColor;
            }
        }
    }
}