@import '~@/base.less';

.scrollOuterBox {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
    position: relative;
}
.scrollContainer {
    transition: all 0.4s ease-out;
    position: absolute;
    left: 0;
}

.scrollPageContainer {
    width: 100vw;
    margin-top: @headerHeight;
    height: calc(~"100vh - @{headerHeight}");
    overflow: hidden;
    &.focus {
        animation: scrollEnd 1s ease-in-out;
    }
}

@keyframes scrollEnd {
    0% {
        transform: scaleX(1);
    } 
    
    25% {
        transform: scaleX(1.1);
    }

    50% {
        transform: scaleX(1);
        
    }

    50% {
        transform: scaleX(0.9);
        
    }

    0% {
        transform: scaleX(1);
    }
}
